/* Start Variables */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #333;
  bottom: -38px;
  background-color: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* End Components */
/* Start Header */
header {
  /* position: absolute; */
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #074859;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}
header .logo {
  text-decoration: none;
}
header .logo img {
  height: 40px;
}
header .logo-span {
  font-weight: bold;
  color: #fff;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header nav .toggle-menu:hover + ul {
    /* display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%); */
  }
  header nav .links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }

  header nav ul li a {
    padding: 15px !important;
  }
}
header nav ul li a {
  padding: 40px 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav .form {
  background-color: transparent;
  width: 50px;
  overflow: hidden;
  height: 40px;
  position: relative;
  /* margin-left: 30px; */
  /* border-left: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  border-radius: 4px;
}
header nav .form.open {
  background-color: #fff;
  width: 300px;
}

header nav .form .magnifier {
  color: var(--main-color);
  position: absolute;
  font-size: 20px;
  margin-left: 13px;
  left: 4px;
  cursor: pointer;
}
header nav .form input {
  height: 40px;
  width: 200px;
  margin-left: 50px;
  border: none;
  /* background-color: var(--transparent-color); */
  padding-left: 10px;
}
@media (max-width: 767px) {
  header nav .form.open {
    width: 200px;
  }
  header nav .form input {
    width: 150px;
  }
}
header nav .form input:focus {
  outline: none;
}
header nav .form .mic {
  font-size: 20px;
  margin-right: 17px;
  cursor: pointer;
  color: var(--main-color);
}

/* End Header */
/*start Landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../images/100.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  transition: 0.4s;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  position: absolute;
  right: 130px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 500px;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    right: 0;
  }
}
.landing .text h2 {
  font-size: 31px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text p {
  font-size: 20px;
  text-align: center;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
@media (max-width: 767px) {
  .landing .text h2 {
    font-size: 18px;
    text-align: center;
  }
  .landing .text p {
    font-size: 12px;
    text-align: center;
  }
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
@media (min-width: 992px) {
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #eee;
}
.services .srv-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--main-color);
  padding: 20px;
}
@media (max-width: 991px) {
  .services .srv-box {
    flex-direction: column;
    text-align: center;
  }
}
.services .srv-box .image {
  width: 25%;
}
.services .srv-box .image img {
  width: 100%;
  height: 200px;
}
.services .srv-box .text {
  width: 70%;
}
@media (max-width: 991px) {
  .services .srv-box .image {
    width: 100%;
    margin-bottom: 10px;
  }
  .services .srv-box .image img {
    height: 300px;
  }
  .services .srv-box .text {
    width: 100%;
  }
}
.services .srv-box .text h3 {
  font-family: normal;
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--main-color);
}
.services .srv-box .text p:first-of-type {
  font-size: 20px;
  margin-bottom: 10px;
  color: #777;
}
.services .srv-box .text p:last-of-type {
  line-height: 1.6;
  color: #777;
}

/* ///////////////// */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
.image-container {
  width: 200px;
  height: 250px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  position: relative;
  transition: 1s;

  /* transform: perspective(1000px); */
}

.image-container .item {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--transparent-color);
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.image-container .item img {
  width: 100%;
  height: 80%;
  max-width: 100%;
  max-height: 100%;
}
.image-container .item p {
  text-align: center;
  font-size: 20px;
  margin-top: 8px;
}
.image-container .item:nth-child(1) {
  transform: rotateY(45deg) translateZ(300px);
}

.image-container .item:nth-child(2) {
  transform: rotateY(calc(2 * 45deg)) translateZ(300px);
}
.image-container .item:nth-child(3) {
  transform: rotateY(calc(3 * 45deg)) translateZ(300px);
}
.image-container .item:nth-child(4) {
  transform: rotateY(calc(4 * 45deg)) translateZ(300px);
}
.image-container .item:nth-child(5) {
  transform: rotateY(calc(5 * 45deg)) translateZ(300px);
}
.image-container .item:nth-child(6) {
  transform: rotateY(calc(6 * 45deg)) translateZ(300px);
}
.image-container .item:nth-child(7) {
  transform: rotateY(calc(7 * 45deg)) translateZ(300px);
}
.image-container .item:nth-child(8) {
  transform: rotateY(calc(8 * 45deg)) translateZ(300px);
}
.image-container .item:nth-child(9) {
  transform: rotateY(calc(8 * 45deg)) translateZ(300px);
}
.image-container .item:nth-child(10) {
  transform: rotateY(calc(8 * 45deg)) translateZ(300px);
}
.image-container .item:nth-child(11) {
  transform: rotateY(calc(8 * 45deg)) translateZ(300px);
}
.image-container .item:nth-child(12) {
  transform: rotateY(calc(8 * 45deg)) translateZ(300px);
}
/* @media (max-width: 992px) {
  .image-container img:nth-child(1) {
    transform: rotateY(45deg) translateZ(300px);
  }
  .image-container img:nth-child(2) {
    transform: rotateY(calc(2 * 45deg)) translateZ(300px);
  }
  .image-container img:nth-child(3) {
    transform: rotateY(calc(3 * 45deg)) translateZ(300px);
  }
  .image-container img:nth-child(4) {
    transform: rotateY(calc(4 * 45deg)) translateZ(300px);
  }
  .image-container img:nth-child(5) {
    transform: rotateY(calc(5 * 45deg)) translateZ(300px);
  }
  .image-container img:nth-child(6) {
    transform: rotateY(calc(6 * 45deg)) translateZ(300px);
  }
  .image-container img:nth-child(7) {
    transform: rotateY(calc(7 * 45deg)) translateZ(300px);
  }
  .image-container img:nth-child(8) {
    transform: rotateY(calc(8 * 45deg)) translateZ(300px);
  }
} */
@media (max-width: 767px) {
  .image-container {
    width: 150px;
    height: 250px;
  }

  .image-container .item:nth-child(1) {
    transform: rotateY(45deg) translateZ(200px);
  }
  .image-container .item:nth-child(2) {
    transform: rotateY(calc(2 * 45deg)) translateZ(200px);
  }
  .image-container .item:nth-child(3) {
    transform: rotateY(calc(3 * 45deg)) translateZ(200px);
  }
  .image-container .item:nth-child(4) {
    transform: rotateY(calc(4 * 45deg)) translateZ(200px);
  }
  .image-container .item:nth-child(5) {
    transform: rotateY(calc(5 * 45deg)) translateZ(200px);
  }
  .image-container .item:nth-child(6) {
    transform: rotateY(calc(6 * 45deg)) translateZ(200px);
  }
  .image-container .item:nth-child(7) {
    transform: rotateY(calc(7 * 45deg)) translateZ(200px);
  }
  .image-container .item:nth-child(8) {
    transform: rotateY(calc(8 * 45deg)) translateZ(200px);
  }
  .image-container .item:nth-child(9) {
    transform: rotateY(calc(8 * 45deg)) translateZ(200px);
  }
  .image-container .item:nth-child(10) {
    transform: rotateY(calc(8 * 45deg)) translateZ(200px);
  }
  .image-container .item:nth-child(11) {
    transform: rotateY(calc(8 * 45deg)) translateZ(200px);
  }
  .image-container .item:nth-child(12) {
    transform: rotateY(calc(8 * 45deg)) translateZ(200px);
  }
}

.controller {
  text-align: center;
  margin-top: 100px;
  width: 100%;
}

.controller span {
  display: inline-block;
  width: 100px;
  background-color: var(--transparent-color);
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  user-select: none;
  color: #fff;
}

.controller span.disabled {
  opacity: 0.5;
  cursor: no-drop;
}

/* ///////////////// */
/* End Services */
/* start about */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #fcfcfc;
}
.about .container .about-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .container .about-content {
    flex-direction: column;
    align-items: center;
  }
}
.about .image {
  margin-top: 10px;
  width: 25%;
}
.about .image img {
  max-width: 100%;
}
.about .about-content .text {
  max-width: 70%;
}
.about .text h3 {
  margin-bottom: 10px;
  color: var(--main-color);
  font-size: 40px;
  font-weight: normal;
}
.about .text p:first-of-type {
  margin-bottom: 50px;
  font-size: 20px;
  margin-left: 10%;
  color: #777;
}
.about .text p:last-of-type {
  line-height: 1.9;
  color: #777;
}
@media (max-width: 991px) {
  .about .image {
    width: 100%;
  }
  .about .text h3 {
    margin-top: 20px;
    text-align: center;
  }
  .about .text p:first-of-type {
    text-align: center;
  }
}

/*statistics*/
.statistics {
  text-align: center;
  margin-top: 50px;
}
.statistics > p {
  color: #777;
  font-size: 20px;
  margin-bottom: 30px;
}
.statistics .content {
  width: 80%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
}
.statistics .content .stat {
  width: calc((100% / 4) - 20px);
  height: 200px;
  border: 2px solid var(--transparent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
@media (max-width: 991px) {
  .statistics .content .stat {
    width: calc((100% / 3) - 20px);
  }
  .statistics .content {
    margin-bottom: 100px;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .statistics .content .stat {
    width: calc((100% / 2) - 10px);
  }
  .statistics .content {
    margin-bottom: 100px;
    gap: 20px;
  }
}
.statistics .content .stat span {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
.statistics .content .stat p {
  font-size: 18px;
}
/* end about */
/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head {
  padding: 40px 20px;
  height: 100px;
  position: relative;
}
.pricing .plans .plan .head h3 {
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--main-color);

  /* border-bottom: 1px solid red; */
}
.pricing .plans .plan .head::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 1px;
  background-color: var(--transparent-color);
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.pricing .plans .plan .price {
  height: 100px;
}
.pricing .plans .plan .price span {
  font-size: 40px;
  position: relative;
  top: 25px;
}
.pricing .plans .plan .price span::before {
  content: "EGP";
  font-size: 25px;
  position: relative;
  top: -28px;
  margin-right: 15px;
  font-weight: normal;
}
.pricing .plans .plan .mid {
  width: 100%;
}
.pricing .plans .plan .mid img {
  width: 100%;
  height: 200px;
}
.pricing .plans .plan ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
  padding: 20px;
  position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  width: 140px;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.pricing .plans .plan .foot a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin: 30px auto;
  color: var(--main-color);
}
.pricing .contact-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}
.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
}
/* End Pricing */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #eee;
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
  resize: none;
}
.contact .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  /* text-transform: uppercase; */
  cursor: pointer;
}
.contact .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
  }
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .content .info .open-time {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .content .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .content .info address {
    margin-bottom: 40px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  /* background-image: url("../images/subscribe.jpg");
  background-size: cover; */
  position: relative;
  color: white;
  text-align: center;
  background-color: #074859;
}
/* .footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
} */
.footer .container {
  position: relative;
}
.footer img {
  margin-bottom: 20px;
  width: 100px;
}
.footer .logo-span {
  margin-left: -80px;
  font-weight: bold;
}
.footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}
.footer .social-icons i {
  padding: 10px 15px;
}
.footer .copyright {
  margin-top: 60px;
}
.footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */
